server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_db
    username: admin
    password: password123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  jackson:
    serialization:
      fail-on-empty-beans: false

# Custom Logging to verify connection
logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.data.redis: DEBUG


springdoc:
  packages-to-scan: com.ecommerce.Shop_Backend.controller
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

